/* .investpages {
    overflow-y: auto;
} */
.closemodal {
    background:none;
    border: none;
}
.current-stage  > div{
    width: 438px;
    margin-right: auto;
    margin-left: auto;
    overflow-y: scroll;
    height: 90vh;
    padding-bottom: 60px;
}