.savest {
  width: 100%;
}

.savestPage {
  display: flex;
  justify-content: space-between;
  margin-top: 1.7rem;
}
.SavestHeader > h1 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 30px;
  text-align: left;
  letter-spacing: 0.03em;
  color: #0768f6;
}

.SavestHeader > p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: #666666;

}

.buttonSection {
  display: flex;
 justify-content: space-between;
  /* margin-top: 32px; */
}
