.telegram {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 36rem !important;
}

.TelegramContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0768f6;
  /* margin-top: 5rem !important; */
  width: 960px;
  border-radius: 4px 4px 4px 0;
  /* padding-top: 5rem; */
}
.tele-mem {
  width: 60%;
}
.tele-mem-1 {
  width: 30%;
}

.tele-members > img {
  height: 10rem;
  margin: 0.8rem 0.8rem 0.8rem 0.8rem;
}
.tele-txt {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 2.9rem;
  line-height: 4.9rem;
  color: #ffffff;
}

.tele-btn {
  color: #0768f6;
  background: #fff;
  padding: 11px 16px;
  border: none;
  border-radius: 4px 4px 4px 0;
}
/* @media (max-width: 375px) {
  .tele-members > img {
    width: 60px;
    margin: 10px;
  }

  .tele-member1 {
    display: none;
  }
} */

/*  */

@media screen and (max-width: 400px) {
  .tele-member1 {
    display: none !important;
  }

  .TelegramContainer {
    display: flex;
    flex-direction: column;
  }

  .tele-txt {
    font-size: 1.8rem;
  }

  .tele-div {
    margin-left: 30px;
  }
  .tele-members > img {
    align-items: center;
    margin: 0;
    width: 60px;
  }

  .tele-image1 {
    position: relative;
    right: 50px;
  }

  .tele-image2 {
  }

  .tele-image3 {
    position: relative;
    left: 50px;
  }
}

@media screen and (min-width: 400px) and (max-width: 768px) {
  .tele-member1 {
    display: none;
  }

  .TelegramContainer {
    display: flex;
    flex-direction: column;
  }

  .tele-txt {
    font-size: 1.8rem;
    width: 80%;
    margin-top: 20px;
  }

  .tele-div {
    margin-left: 30px;
  }
  .tele-members > img {
    align-items: center;
    margin: 0;
    width: 70px;
    margin-top: 27px;
  }

  .tele-image1 {
    position: relative;
    right: 30px;
  }

  .tele-image2 {
  }

  .tele-image3 {
    position: relative;
    left: 30px;
  }
}
